/*
Place your custom CSS here
*/

.pb-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}
.pb-container .pb-button {
  display: inline-block;
  margin-bottom: 0;
  padding: 0.6em 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  background-color: #fff;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  font-size: 14px;
  line-height: 1.42857;
  border-style:solid;
  border-width: 1px;
  width: 100%;
  height: 100%;
}
.pb-container .pb-button svg {
  height: 40px;
  width: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.pb-container .pb-button svg path {
  opacity: 0;
  fill: none;
}
.pb-container .pb-button svg.pb-progress-circle {
  animation: spin 0.9s infinite cubic-bezier(0.085, 0.260, 0.935, 0.710);
}
.pb-container .pb-button svg.pb-progress-circle path {
  stroke: currentColor;
  stroke-width: 5;
}
.pb-container .pb-button svg.pb-checkmark path,
.pb-container .pb-button svg.pb-cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
}
.pb-container.disabled .pb-button {
  cursor: not-allowed;
}
.pb-container.loading .pb-button, .pb-container.loading .pb-button:hover, .pb-container.loading .pb-button:focus, .pb-container.loading .pb-button:active {
  width: 40px;
  border-radius: 27px;
  height: 40px;
  border-width: 6.5px;
  border-color: #ddd;
  color: #0595DB;
  cursor: wait;
  background-color: transparent;
  padding: 0;
}

.pb-container.loading .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.loading .pb-button .pb-progress-circle > path {
  transition: opacity 0.15s 0.3s;
  opacity: 1;
}
.pb-container.success .pb-button,  .pb-container.success .pb-button:hover, .pb-container.success .pb-button:focus, .pb-container.success .pb-button:active {
  color: #fff;
  border-color: #76CA02;
  background-color: #76CA02;
  pointer-events: none;
}
.pb-container.success .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.success .pb-button .pb-checkmark > path {
  opacity: 1;
}
.pb-container.error .pb-button, .pb-container.error .pb-button:hover, .pb-container.error .pb-button:focus, .pb-container.error .pb-button:ative {
  color: #fff;
  border-color: #ED1C24;
  background-color: #ED1C24;
  pointer-events: none;
}
.pb-container.error .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.error .pb-button .pb-cross > path {
  opacity: 1;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}