/* default button style */
.defaultpb .pb-button {
  color: #0595DB;
  border-color: #ddd;
  background-color: #fff;
}

.defaultpb .pb-button:hover, .defaultpb .pb-button:focus, .defaultpb .pb-button:active{
  color: #0595DB;
  border-color: #ddd;
  background-color: #ddd;
}

/* Primary button style */
.primarypb .pb-button {
  color: #fff;
   border-color: #0595DB;
   background-color: #0595DB;
}

.primarypb .pb-button:hover, .primarypb .pb-button:focus, .primarypb .pb-button:active{
  color: #fff;
  border-color: #0477af;
  background-color: #0477af;
}

/* Inverse button style */
.inversepb .pb-button {
  color: #fff;
  border-color: #252C36;
  background-color: #252C36;
}

.inversepb .pb-button:hover, .inversepb .pb-button:focus, .inversepb .pb-button:active{
  color: #fff;
  border-color: #51565e;
  background-color: #51565e;
}

/* Info button style */
.infopb .pb-button {
  color: #fff;
  border-color: #48B0F7;
   background-color: #48B0F7;
}

.infopb .pb-button:hover, .infopb .pb-button:focus, .infopb .pb-button:active{
  color: #fff;
  border-color: #3a8dc6;
  background-color: #3a8dc6;
}

/* Success button style */
.successpb .pb-button {
  color: #fff;
  border-color: #76CA02;
  background-color: #76CA02;
}

.successpb .pb-button:hover, .successpb .pb-button:focus, .successpb .pb-button:active{
  color: #fff;
  border-color: #5ea202;
  background-color: #5ea202;
}

/* Warning button style */
.warningpb .pb-button {
  color: #fff;
  border-color: #F99B1D;
  background-color: #F99B1D;
}

.warningpb .pb-button:hover, .warningpb .pb-button:focus, .warningpb .pb-button:active{
  color: #fff;
  border-color: #c77c17;
  background-color: #c77c17;
}

/* Danger button style */
.dangerpb .pb-button {
  color: #fff;
  border-color: #ED1C24;
  background-color: #ED1C24;
}

.dangerpb .pb-button:hover, .dangerpb .pb-button:focus, .dangerpb .pb-button:active{
  color: #fff;
  border-color: #be161d;
  background-color: #be161d;
}